<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtKXhqWOuEApMhPaA2n5sUE0Ky3VDsQU4</string>
	<key>GCM_SENDER_ID</key>
	<string>197074867856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.realmagent</string>
	<key>PROJECT_ID</key>
	<string>realm-agent</string>
	<key>STORAGE_BUCKET</key>
	<string>realm-agent.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197074867856:ios:f3dbecbc5a42864d72ea15</string>
</dict>
</plist>